/*
  Reset styles
  ============
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica,arial,sans-serif;
  font-size: 100%;
  color: #443C43;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #4D90FE;
}

input, textarea, .btn, iframe {
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0.1em solid #ccc;
}

input:hover, textarea:hover, .btn:hover, iframe:hover {
  border: 1px solid #bbb;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px #eee;
  -webkit-box-shadow: 0 1px 1px #eee;
  box-shadow: 0 1px 1px #eee;
}

.btn {
  display: inline-block;
  height: 22px;
  width: 25px;
  padding: 0.3em 1.5em;
  font-size: 0.8em;
}

a.btn {
  text-decoration: none;
}

a.btn:active {
  border: 1px solid #4D90FE;
}

.spinner {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  background-image: url(/images/spinner32.gif);
  background-repeat: no-repeat;
}

/*
  Layout styles
  =============
*/

#wrapper {
  background-color: #f2f2f2;
  background: -moz-linear-gradient(#f2f2f2, white);
  background: -webkit-linear-gradient(#f2f2f2, white);
  background: linear-gradient(#f2f2f2, white);
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

/* Sticky footer */

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 25px;
}

footer {
  position: relative;
	margin-top: -25px;
	height: 25px;
	clear:both;
}

header {
  padding: 1.3em 0 1em;
  background-color: #443C43;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav {
  font-family: "lucida console", "monaco", monospace;
}

header nav li {
  display: inline-block;
  float: right;
  margin-left: 1.5em;
  font-size: 1em;
  letter-spacing: 2px;
  margin-top: 3px;
}

header nav li.rungist {
  float: none;
  margin-top: 0;
  margin-left: 0;
  font-size: 1.1em;
}

header nav li.rungist a {
  color: #FDD017;
  font-family: Geneva, "MS Sans Serif", sans-serif;
}

header nav li.rungist span {
  color: #999;
  font-size: 0.9em;
  letter-spacing: 0;
}

header nav li a {
  color: #eee;
}

#main {
  padding-top: 2em;
}

#main .inner {
  min-height: 300px;
}

footer {
  text-align: right;
  font-size: 0.9em;
}

/*
  Page styles
  ===========
*/

/* Gist form */

#gist_form {
  margin-bottom: 0.4em;
  height: 32px;
}

#gist_form input {
  display: inline-block;
  vertical-align: top;
  width: 168px;
  height: 22px;
  font-size: 0.8em;
  color: #333;
  padding: 0.3em 0.4em;
  margin-right: 10px;
}

#gist_form input:-moz-placeholder {
  color: #999;
}

#gist_form input::-webkit-input-placeholder, #gist_form input:-moz-placeholder {
  color: #999;
}

#gist_form .submit {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  height: 32px;
  width: 55px;
  background-color: #f1f1f1;
  background-image: url(/images/find.png), -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: url(/images/find.png), -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: url(/images/find.png), linear-gradient(top, #f1f1f1, #e1e1e1);
  background-repeat: no-repeat;
  background-position: center center;
}

#gist_form .submit:hover {
  background-color: #f5f5f5;
  background-image: url(/images/find.png), -moz-linear-gradient(top, #f5f5f5, #e1e1e1);
  background-image: url(/images/find.png), -webkit-linear-gradient(top, #f5f5f5, #e1e1e1);
  background-image: url(/images/find.png), linear-gradient(top, #f5f5f5, #e1e1e1);
}

#gist_form .submit:active {
  border: 1px solid #4D90FE;
}

#main .languages {
  margin-bottom: 3em;
  padding-left: 7px;
  font-family: "lucida console", "monaco", monospace;
  font-size: 0.8em;
  color: #888;
}

/* Gist list */

#gist_title div {
  margin-top: 0.2em;
  padding-left: 0.7em;
  font-size: 0.6em;
  font-weight: 400;
  font-family: "lucida console","monaco",monospace;
  color: #888888;
}

#gist_title a {
  color: #7F5217;
}

#gist_list .raw {
  display: inline-block;
  padding-bottom: 0.2em;
  padding-left: 0.1em;
}

#gist_list .content {
  margin-bottom: 0.6em;
  width: 800px;
}

#gist_list .content pre {
  margin-top: 0;
  border: 1px solid #DEDEDE;
}

#gist_list .content textarea {
  display: none;
  width: 800px;
  height: 140px;
}

#gist_list .controls {
  margin-bottom: 1.5em;
}

#gist_list iframe {
  display: block;
  width: 800px;
  margin-bottom: 1.5em;
}

#gist_list .run, #gist_list .add {
  line-height: 1.8em;
  font-size: 0.9em;
  color: #7F5217;
  background-color: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background: linear-gradient(top, #f1f1f1, #e1e1e1);
}

#gist_list .edit {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1px;
  border-bottom: 1px dashed;
  color: #445588;
  font-family: arial;
  font-size: 0.9em;
  text-decoration: none;
}

#gist_list .info {
  display: inline-block;
  margin-left: 2em;
  color: #666;
  font-size: 0.9em;
  font-style: italic;
}

#gist_list .spinner {
  display: none;
  margin-left: 0.5em;
}

#gist_list .edit:hover {
  color: #DD1144;
}

#gist_list iframe {
  display: none;
}

#about {
 margin-top: 50px;
 line-height: 22px;
 font-size: 14px;
}

#about a:hover {
  color: #7F5217;
}

#about .link {
  margin: 7px 0 15px;
}

#about .link .try {
  text-decoration: none;
  border-bottom: 1px dashed;
}

#about .left {
  float: left;
}

#about .left ul {
  list-style-type: square;
  margin-left: 12px;
}

#about .left ul li span {
  color: #888888;
}

#about .right {
  width: 475px;
  float: right;
}

#about h4 {
  margin-bottom: 14px;
}

.clear {
  clear: both;
}

#about_wrapper #about {
  margin-top: 0;
}
