%form#gist_form
  %input{:type => :text, :value => params[:gist], :placeholder => "gist id"}
  %button{:type => :submit, :class => "submit btn"}
  %span.spinner

.languages Ruby/HTML+ERB/CSS

%h3#gist_title
%ul#gist_list

%script{:type => "text/javascript", :src  => "/javascripts/jquery.min.js"}
%script{:type => "text/javascript", :src  => "/javascripts/autoheight.js"}
%script{:type => "text/javascript", :src  => "/javascripts/gist_preview.js"}
%script{:type => "text/javascript", :src  => "/javascripts/run_gist.js"}
%script{:type => "text/javascript", :src  => "http://yandex.st/highlightjs/6.1/highlight.min.js"}

:javascript
  var jsonpCallback;

  $(function () {
    // Ajax Setup
    $.ajaxSetup({ error: function (jqXHR) {
      alert(jqXHR.responseText);
    }});

    // Init GistPreview
    var gp = new GistPreview(#{RungistSandbox::SUPPORTED_LANGUAGES.to_json}, function (data) { jsonpCallback(data) });
    jsonpCallback = function (data) { gp.parseResponse(data) };

    // Init RunGist
    new RunGist();
  });
