!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Run gist
  %body
    %h1 Run gist!

    %form#gist_form
      %input{:type => :text, :value => params[:gist]}
      %input{:type => :submit, :value => "Get"}

    %ul#gist_files

    %script{:type => "text/javascript", :src  => "/javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/index.js"}

    :javascript
      var jsonpCallback;

      $(function () {
        // Init GistPreview
        var gp = new GistPreview(function (data) { jsonpCallback(data) });
        jsonpCallback = function (data) { gp.parseResponse(data) };
        // Init RunGist
        new RunGist();
      });
