#app
  %form#gist_form
    %input{:type => :text, :name => 'gist', :placeholder => 'gist id'}
    %button{:type => :submit, :id => 'submit', :class => 'submit btn'}
    %span.spinner

  .languages{:"data-sandbox" => RungistSandbox::SUPPORTED_LANGUAGES.to_json}
    Ruby/HTML+ERB/CSS

  %h3#gist_title
  %ul#gist_list

  = partial 'about'

-# Gist file template
%script{:type => 'text/template', :id => 'gist_template'}
  %a{:href => '{{raw_url}}', :class => 'raw', :target => '_blank'} {{filename}}
  .content
    %pre
      %code{:class => '{{highlightLanguage}}'} {{highlightContent}}
    %textarea {{content}}
  .controls
    {% if (languageType === 'sandbox') { %}
    %a{:class => 'run btn', :href => '#run'} Run
    %a{:class => 'edit', :href => '#edit'} Edit
    {% } else if (languageType === 'stylesheet') { %}
    %a{:class => 'add btn', :href => '#add'} Add
    %a{:class => 'edit', :href => '#edit'} Edit
    %span.info
    {% } %}
    .spinner
  {% if (languageType === 'sandbox') { %}
  %iframe{:name => '{{filename}}'}
  {% } %}

-# Gist title template
%script{:type => 'text/template', :id => 'title_template'}
  %a{:href => '{{html_url}}', :target => '_blank'} {{description}}
  %div {{created_at}}

= js :application
= js :test if test?
