!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Run gist
  %body
    %h1 Run gist!

    %form#gist_form
      %input{:type => :text, :value => params[:gist]}
      %input{:type => :submit, :value => "Get"}

    %iframe#gist_scope{ :width => "100%" }

    %script{:type => "text/javascript", :src  => "/javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/autoheight.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/gist_preview.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/run_gist.js"}

    :javascript
      var jsonpCallback;

      $(function () {
        // Init GistPreview
        var gp = new GistPreview(#{RungistSandbox::SUPPORTED_LANGUAGES}, function (data) { jsonpCallback(data) });
        jsonpCallback = function (data) { gp.parseResponse(data) };

        // Init RunGist
        new RunGist();
      });
