!!!
%html
  %head
    %title rungist
    %meta{:charset => "utf-8"}
    %link{:rel => "icon",  :type => "image/png", :href => "/images/favicon.png"}
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css", :type => "text/css"}
    = partial 'ga'
  %body
    #wrapper
      %header
        .inner
          %nav
            %ul
              %li.rungist
                %a{:href => "/"} RUNGIST
                %span - run ruby's gist
              %li
                %a{:href => "/about"} ABOUT
              %li
                %a{:href => "https://github.com/Djo/rungist", :target => "_blank"} CODE
      #main
        .inner
          = yield
    %footer
      .inner
        © 2012 Rungist by
        %a{:href => "http://andrewdjoga.com"} Andrew Djoga
